In [1]:
file = open('quakedata.csv')

In [3]:
for i in range(5):
    read_lines = file.readline()
    print(read_lines)

DateTime,Latitude,Longitude,Depth,Magnitude,MagType,NbStations,Gap,Distance,RMS,Source,EventID,Version

2012-01-01T00:30:08.770+00:00,12.008,143.487,35.0,5.1,mb,178,45,,1.20,pde,pde20120101003008770_35,1363392487731

2012-01-01T00:43:42.770+00:00,12.014,143.536,35.0,4.4,mb,29,121,,0.98,pde,pde20120101004342770_35,1363392488431

2012-01-01T00:50:08.040+00:00,-11.366,166.218,67.5,5.3,mb,143,43,,0.82,pde,pde20120101005008040_67,1363392488479

2012-01-01T01:22:07.660+00:00,-6.747,130.008,145.0,4.2,mb,14,112,,1.16,pde,pde20120101012207660_145,1363392488594

In [29]:
#file.seek(0)
#file.readline()
rows = []
file = open("quakedata.csv")
first_line = file.readline()
print(first_line)
for raw_rows in file:
    row = raw_rows.split(',')
    rows.append(row)

DateTime,Latitude,Longitude,Depth,Magnitude,MagType,NbStations,Gap,Distance,RMS,Source,EventID,Version

In [35]:

print(rows[0])
print(rows[1])

['2012-01-01T00:30:08.770+00:00', '12.008', '143.487', '35.0', '5.1', 'mb', '178', '45', '', '1.20', 'pde', 'pde20120101003008770_35', '1363392487731\n']
['2012-01-01T00:43:42.770+00:00', '12.014', '143.536', '35.0', '4.4', 'mb', '29', '121', '', '0.98', 'pde', 'pde20120101004342770_35', '1363392488431\n']

In [28]:
print(len(rows))

12685

In [48]:
def convert_to_float(text):
    try:
        return float(text)
    except:
        return None

In [253]:
rows = []
hours = []
file = open("quakedata.csv")
first_line = file.readline()
print(first_line)
for raw_rows in file:
    row = raw_rows.split(',')
    row[4] = convert_to_float(row[4])
    rows.append(row)
    year = row[0][:-25]
    month = row[0][5:-22]
    day = row[0][8:-19]
    hour = row[0][11:-16]
    minute = row[0][14:-13]
    seconds = row[0][17:-10]
    #print(hour)
    hours.append(hour)
print(rows[1])

DateTime,Latitude,Longitude,Depth,Magnitude,MagType,NbStations,Gap,Distance,RMS,Source,EventID,Version

['2012-01-01T00:43:42.770+00:00', '12.014', '143.536', '35.0', 4.4, 'mb', '29', '121', '', '0.98', 'pde', 'pde20120101004342770_35', '1363392488431\n']

In [254]:
print(hours[0])
print(len(hours))
print(hours[12])
print(type(hours))

00
12684
06
<class 'list'>

In [255]:
print(hours[:50])

['00', '00', '00', '01', '02', '02', '02', '03', '04', '04', '05', '05', '06', '07', '08', '08', '08', '08', '09', '09', '10', '10', '11', '11', '11', '11', '12', '12', '14', '14', '15', '15', '16', '16', '16', '17', '18', '18', '19', '20', '21', '21', '21', '22', '23', '02', '03', '05', '06', '06']

In [262]:
# hours is a list containing all the hours 
def convert_to_int(text):
    try: 
        return int(text)
    except:
        pass
    
before_noon = []
after_noon = []
for x in hours:
    hours_int = convert_to_int(x)
    if hours_int >= 12:
        after_noon.append(hours_int)
    else:
        before_noon.append(hours_int)
print("Between Midnight and Noon:",len(before_noon))
print("Between Noon and Midnight:", len(after_noon))

Between Midnight and Noon: 6241
Between Noon and Midnight: 6443

In [251]:
print(rows[22])

['2012-01-01T11:02:54.430+00:00', '11.993', '143.377', '35.0', 4.8, 'mb', '92', '88', '', '1.11', 'pde', 'pde20120101110254430_35', '1363392490089\n']

In [50]:
# row[4] magnitude 
all_magnitude = [row[4] for row in rows]

In [51]:
print(all_magnitude[0])
print(all_magnitude[1])

5.1
4.4

In [42]:
def find_mean(num_list):
    total = 0.0
    for x in num_list:
        total += x
    return total / len(num_list)

In [52]:
find_mean(all_magnitude)

4.558483128350625

In [68]:
#print(rows[1][0][0:4])
#print(rows[1][0][5:7])
#print(rows[1][0][8:10])
year = rows[1][0][0:4]
month = rows[1][0][5:7]
day = rows[1][0][8:10]
print(month, day, year)
print(rows[0])

01 01 2012
['2012-01-01T00:30:08.770+00:00', '12.008', '143.487', '35.0', 5.1, 'mb', '178', '45', '', '1.20', 'pde', 'pde20120101003008770_35', '1363392487731\n']

In [ ]:
#year = int(date_str[0:4])
#def make_date(date_str):
    #year = date_str(rows[1][0][0:4])
   #month = date_str(rows[1][0][5:7])
    #day = date_str(rows[1][0][8:10])
    #month, day, year = date_str.split('-')
   # m = int(m)
    #d = int(d)
   # y = int(date_str[0:4])

In [180]:
# I need to split up the first column/date into just date only. 
# 
date_str = str(rows[:2])
print(date_str)

[['2012-01-01T00:30:08.770+00:00', '12.008', '143.487', '35.0', 5.1, 'mb', '178', '45', '', '1.20', 'pde', 'pde20120101003008770_35', '1363392487731\n'], ['2012-01-01T00:43:42.770+00:00', '12.014', '143.536', '35.0', 4.4, 'mb', '29', '121', '', '0.98', 'pde', 'pde20120101004342770_35', '1363392488431\n']]

In [181]:
year = date_str[:-25][3:7]
print(year)

2012