
# Question 1Â¶

Create a Python list with the following values: [1, 2, 4, 10, 12, 117, 1244]

a. Compute the sum of the values.

b. Compute the mean of the values.

c. Compute the product of all the numbers (multiply them all together).

In [1]:
num = [1, 2, 4, 10, 12, 117, 1244]
# a. Compute the sum of the values.

total = 0
for x in num:
    total += x
print(total)

1390

In [5]:
# b. Compute the mean.
total = 0.0
for x in num:
    total += x
mean = total/len(num)
print(mean)

198.57142857142858

In [9]:
#c. Compute the product. 
total = 1
for x in num:
    total *= x
print(total)

139726080


# Question 2

Write functions to do all the operations above; repeat them on the following lists of numbers:

a. [3, 2, 3, 3, 3, 2, 8, 2, 2, 126]

b. [7, 267, 4, 2, 5, 319, 5, 6, 713, 3]

In [10]:
a = [3, 2, 3, 3, 3, 2, 8, 2, 2, 126]
b = [7, 267, 4, 2, 5, 319, 5, 6, 713, 3]

In [17]:
def find_sum(n):
    total = 0.0
    for x in n:
        total += x
    return total

In [19]:
def mean(n):
    total = 0.0
    total_mean = 1.0 * find_sum(n)
    return total_mean/len(n)

In [20]:
def product(n):
    product = 1
    for x in n:
        product *= x
    return product

### a)

In [21]:
print(find_sum(a))
print(mean(a))
print(product(a))

154.0
15.4
1306368

### b)

In [22]:
print(find_sum(b))
print(mean(b))
print(product(b))

1331.0
133.1
1530354394800

In [24]:
for x in range(100):
    out = ""
    if x % 3 == 0:
        out += "Fizz"
    if x % 5 == 0:
        out += "Buzz"
    if out == "":
        out = x
    #print(out)

# Categorize them into above-average and below-average

In [25]:
prices = {"AAPL": 454.45, "MSFT": 32.70, "AMZN": 297.26, "ORCL": 32.92}

In [29]:
# Create stock categories:
# Create dictionary with categories as keys and an empty list as values. 

# Calculate the average for all. 
stock_average = mean(prices.values())
print(stock_average)
stock_types = {"Above Average": [], "Below Average": []}
for stock in prices:
    if prices[stock] > stock_average:
        stock_types["Above Average"].append(stock)
    else: 
        stock_types["Below Average"].append(stock)

print(stock_types)

204.33249999999998
{'Above Average': ['AAPL', 'AMZN'], 'Below Average': ['MSFT', 'ORCL']}